body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000000;
}

h1 {
    color: #ffffff;
}

#ranking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.player {
    display: flex;
    align-items: center;
    background: white;
    padding: 10px;
    margin: 10px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.player img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.player span {
    font-size: 18px;
    font-weight: bold;
}
